---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
---

<Layout title="GraphMe">
	<Hero />
    <Features />
    <section class="bg-gray-50">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
            <div class="max-w-screen-sm mx-auto text-center">
                <h2 class="mb-4 text-3xl font-extrabold leading-tight tracking-tight text-gray-900">Start with the Free plan</h2>
                <a href="https://console.graphme.app/signup" class="inline-block text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg px-5 py-3 mt-5 focus:outline-none">Get started now</a>
                <p class="mt-6 font-light text-gray-500 text-sm">No credit card required.</p>
            </div>
        </div>
    </section>
    
</Layout>