---
const { headings } = Astro.props;
---
<aside aria-label="Table of contents">
    <div class="sticky top-0 pt-4">
        <div class="overflow-y-auto py-4 px-2 border-l border-gray-200 w-60">
            <ul class="space-y-1">
                {headings.filter(heading => heading.depth > 1).map(heading => (
                    <li>
                        <a href={'#' + heading.slug} class="flex items-center py-1 px-3 text-sm font-normal text-gray-900 hover:text-orange-700">
                            {heading.text}
                        </a>
                    </li>
                ))}
        </ul>
    </div>
   </div>
</aside>
