<section class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-16 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    Query dashboards directly from Slack
                </h2>
                <p class="mb-4 font-light lg:text-xl">
                    Do you still take screenshots and upload them in Slack?
                    GraphMe automates this process without leaving Slack.
                </p>
                <p class="font-light lg:text-xl">
                    <code>/graph me service-health:requests</code>
                </p>
            </div>
            <div class="border border-gray-400 rounded w-96 mx-auto hidden lg:flex ">
                <img class="w-full rounded" src="/images/graph-me-1.png" alt="Sample /graph me">
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-16 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="border border-gray-400 rounded w-96 mx-auto hidden lg:flex ">
                <img class="w-full rounded" src="/images/graph-me-2.png" alt="Sample /graph me">
            </div>
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    Save and reuse common queries
                </h2>
                <p class="mb-4 font-light lg:text-xl">
                    Do you commonly share the same dashboards?<br>
                    GraphMe allows to save common queries under an alias.
                </p>
                <p class="font-light lg:text-xl">
                    <code>
                        /graph save as logins<br>
                        /graph me logins
                    </code>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-16 lg:py-24 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    Parameterize your queries
                </h2>
                <p class="mb-8 font-light lg:text-xl">
                    GraphMe allows you to use the full power of Grafana, but providing variables, a timezone, dimensions or a time range.
                </p>
                <p class="font-light lg:text-xl">
                    <code>/graph me traffic now-7d host=srv1.graphme.app</code>
                </p>
            </div>
            <div class="border border-gray-400 rounded w-96 mx-auto hidden lg:flex ">
                <img class="hiddenrounded" src="/images/graph-me-3.png" alt="Sample /graph me">
            </div>
        </div>
        </div>
</section>