<section class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    Reuse graphs in different contexts
                </h2>
                <p class="mb-8 font-light lg:text-xl">
                    No more queries scattered in spreadsheets and docs.
                    GraphMe is now the source of truth for your queries, and they can be parameterized for a better reusability.
                </p>
            </div>
            <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="/images/connections.png" alt="Connections page">
        </div>
</section>

<section class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="/images/graphs.png" alt="Examples of graphs">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    Customize the appearance of graphs
                </h2>
                <p class="mb-8 font-light lg:text-xl">
                    GraphMe comes with a large number of options to customize how graphs look like.
                </p>
                <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7">
                    <li class="flex space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span class="text-base font-medium leading-tight text-gray-900">Color palette</span>
                    </li>
                    <li class="flex space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span class="text-base font-medium leading-tight text-gray-900">Legend and statistics</span>
                    </li>
                    <li class="flex space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span class="text-base font-medium leading-tight text-gray-900">Title and labels</span>
                    </li>
                    <li class="flex space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span class="text-base font-medium leading-tight text-gray-900">... and more to come</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    Works with your time series database
                </h2>
                <p class="mb-8 font-light lg:text-xl">
                    GraphMe does not replace your favorite time series database.
                    Instead, it compliments it with a Slack integration allowing you to query for metrics right from your favorite collaboration tool.
                </p>
                <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7">
                    <li class="flex space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span class="text-base font-medium leading-tight text-gray-900">Prometheus</span>
                    </li>
                    <li class="flex space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span class="text-base font-medium leading-tight text-gray-900">Datadog</span>
                    </li>
                    <li class="flex space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span class="text-base font-medium leading-tight text-gray-900">... and more to come</span>
                    </li>
                </ul>
            </div>
            <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="/images/connections.png" alt="Connections page">
        </div>
</section>